.App {
  font-family: Roboto, Verdana;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

.board {
  border-collapse: collapse;
  margin: 0 auto;
  cursor: pointer;
  clear: both;
}

table {
  width: inherit;
  height: inherit;
}

tbody {
  width: inherit;
  height: inherit;
}

tr {
  width: inherit;
}

td {
  width: 33%;
  height: 33%;
}

.bottom {
  border-bottom: 0.4rem solid #f0f0f0;
}

.right {
  border-right: 0.4rem solid #f0f0f0;
}

.win-line {
  transition: stroke-dashoffset 0.425s cubic-bezier(0.4,0,0.2,1);
  -webkit-transition: stroke-dashoffset 0.425s cubic-bezier(0.4,0,0.2,1);
  stroke-opacity: 0.5;
  stroke-width: 3.2;
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
}
